In [ ]:
#install scikitplot
!pip install scikit-plot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.8/dist-packages (from scikit-plot) (1.2.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from scikit-plot) (1.0.2)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.8/dist-packages (from scikit-plot) (1.7.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.4.4)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.4.0->scikit-plot) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->scikit-plot) (3.1.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7

In [ ]:
#import libraries
from sklearn import preprocessing
import pandas as pd

#import different ML classifiers
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

#import ML evaluation metrics
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics, model_selection

#import scikitplot to plot confusion matrix
import scikitplot as skplt
from sklearn.preprocessing import LabelEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/gender-prediction.csv')
df

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
75      65      99    no       short         39   yes     green  female
76      61      98    no       short         37    no     brown  female
77      67     119   yes       short         40    no     black    male
78      70     190   yes      medium         43    no      gray    male
79      62     142   yes        long         37    no      blue  female

[80 rows x 8 columns]

In [ ]:
#Q1: Provide responses to the following questions about the dataset.
#1. How many instances does the dataset contain?
there are 80 instances
#2. How many input attributes does the dataset contain?
there are 7 input attributes
#3. How many possible values does the output attribute have?
two possible value yes or no 1 or 2 male or female
#4. How many input attributes are categorical?
4 input attributes are categorical
#5. What is the class ratio (male vs female) in the dataset?

In [ ]:

le = LabelEncoder()
b = le.fit_transform(df['beard'])
b

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1])

In [ ]:

h = le.fit_transform(df['hair_length'])
h

array([3, 0, 2, 1, 2, 3, 0, 3, 3, 2, 1, 3, 2, 1, 2, 3, 3, 1, 1, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 1, 2, 3, 2, 2, 3,
       0, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 3, 1, 1, 0,
       1, 3, 2, 3, 1, 2, 2, 1, 1, 3, 3, 3, 2, 1])

In [ ]:
s = le.fit_transform(df['scarf'])
s

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0])

In [ ]:
e = le.fit_transform(df['eye_color'])
e

array([0, 0, 1, 3, 3, 0, 2, 2, 4, 3, 3, 3, 0, 3, 0, 1, 0, 4, 3, 4, 0, 0,
       0, 3, 2, 2, 0, 4, 1, 3, 2, 3, 3, 0, 2, 2, 4, 0, 3, 4, 3, 0, 0, 2,
       0, 2, 0, 2, 0, 0, 0, 2, 2, 2, 2, 0, 2, 3, 2, 2, 2, 2, 2, 4, 3, 0,
       4, 0, 0, 0, 2, 0, 2, 3, 4, 4, 2, 0, 3, 1])

In [ ]:
data = df.drop("beard", axis= 'columns')
data = df.drop("hair_length", axis= 'columns')
data = df.drop("scarf", axis= 'columns')
data = df.drop("eye_color", axis= 'columns')
data["beard"] = b
data["hair_length"] = h
data["scarf"] = s
data["eye_color"] = e
data

    height  weight  beard  hair_length  shoe_size  scarf  gender  eye_color
0       71     176      1            3         44      0    male          0
1       68     165      0            0         41      0    male          0
2       62     132      0            2         37      1  female          1
3       65     138      0            1         38      0  female          3
4       70     197      1            2         43      0    male          3
..     ...     ...    ...          ...        ...    ...     ...        ...
75      65      99      0            3         39      1  female          4
76      61      98      0            3         37      0  female          2
77      67     119      1            3         40      0    male          0
78      70     190      1            2         43      0    male          3
79      62     142      1            1         37      0  female          1

[80 rows x 8 columns]

In [ ]:

#Here only excluding the 'gender' and taking the remaining as inputs
X = data.drop("gender", axis= 'columns')
#Only taking 'gender' as the output
Y = data['gender']
X

    height  weight  beard  hair_length  shoe_size  scarf  eye_color
0       71     176      1            3         44      0          0
1       68     165      0            0         41      0          0
2       62     132      0            2         37      1          1
3       65     138      0            1         38      0          3
4       70     197      1            2         43      0          3
..     ...     ...    ...          ...        ...    ...        ...
75      65      99      0            3         39      1          4
76      61      98      0            3         37      0          2
77      67     119      1            3         40      0          0
78      70     190      1            2         43      0          3
79      62     142      1            1         37      0          1

[80 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.20, random_state=7)

In [ ]:

#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rf= RandomForestClassifier()
rf.fit(X_train,y_train)
predictions = rf.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
#print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

[[9 0]
 [0 7]]

In [ ]:
#Support Vector Machine Classifier
from sklearn.svm import SVC
svm= SVC()
svm.fit(X_train,y_train)
predictions = svm.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
#print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

[[6 3]
 [2 5]]

In [ ]:

#MLP Classifier
from sklearn.neural_network import MLPClassifier
mlp= MLPClassifier()
mlp.fit(X_train,y_train)
predictions = mlp.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
#print(classification_report(y_test,predictions))
print(confusion_matrix(y_test,predictions))

[[9 0]
 [0 7]]

/usr/local/lib/python3.8/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [ ]:
#Decision Tree Classifier with Monte Carlo (shuffle-split) Cross Validation
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
from sklearn.model_selection import ShuffleSplit,cross_val_score
shuffle_split=ShuffleSplit(test_size=0.33,n_splits=5)
scores=cross_val_score(dt,X_test,predictions,cv=shuffle_split)
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.metrics import accuracy_score, f1_score
print(classification_report(y_test,predictions))
#print(confusion_matrix(y_test,predictions))
#print("Average Cross Validation score :{}".format(scores.mean()))

              precision    recall  f1-score   support

      female       1.00      1.00      1.00         9
        male       1.00      1.00      1.00         7

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16